<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- bootstrap css cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- bootstrap js cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Issue</h1>
        </div>
        <br>
        <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                      {% for category,message in messages %}
                      <div class="alert alert-{{ category }} ">
                          {{ message }}
                      </div>
                      {% endfor %}
                  {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
              </div>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Issue</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                        {% for i in range(data_len) %}
                        {% if data[i]['data']['seen'] == 0 %}
                        <tr>
                        
                        <td>{{ data[i]['data']['fullName'] }}</td>
                        <td>{{ data[i]['data']['issue'] }}</td>
                        <!-- <form action="/submit_issue/id?"+> -->
                        <td><a href="{{ url_for('submit_issue', user_id=data[i]['user_id'] ,data_id=data[i]['id'])}}"><input type="submit" class="btn" value="View"></a></td>
                        <!-- </form> -->
                        
                        </tr>
                        {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>